# Redis config
REDIS_HOST=redis
REDIS_PORT=6379

# ExchangeRate API
EXCHANGE_API_URL=https://v6.exchangerate-api.com/v6
EXCHANGE_API_KEY=your_api_key_here

# App config
PORT=3000
CACHE_TTL_SECONDS=600

# Rate Limiting
# This is a rate limit of 100 requests per minute
# The format is <number>-<time unit>, where time unit can be S (seconds), M (minutes), H (hours)
RATE_LIMIT_REQUESTS=100-M

# Logging
LOKI_URL=http://localhost:3100/loki/api/v1/push
